body {
	min-height: 
		100%;
	background: 
	    #EEEEEE;
	position:
		relative;
	
}

h1 {
	font-size:
		450%;
}

th {
	font-size:
		150%;
	text-align: 
		center;
}

.container {
	background:
		white;
	box-shadow:
		0px 0px 10px #CCCCCC;
	margin-top:
		50px;
}

.row {
	margin:
		0
		!important;
}

.col-md-12, .col-md-4, .col-md-8, .container {
   padding: 
	0 
	!important;
 }

.square {
	padding-bottom:
		100%;
	position:
		relative;
}

.long-rectangle {
	padding-bottom:
		32%;
	position:
		relative;
	background:
		url(../img/striped-background.png);
}

.rectangle {
	
	padding-bottom:
		47.5%;
	position:
		relative;
}

.inner-content {
	position:
		absolute;
	top:
		0;
	left:
		0;
	right:
		0;
	bottom:
		0;
	padding:
		15px;
}

.carousel, .carousel-inner, .item {
	height: 
		100%;
}

.item img {
	display:
		block;
	margin:
		0 auto;
	max-height:
		100%;
	width:
		auto;
}

.img-caption{
	display:
		inline-block;
	background-color:
		rgba(0, 0, 0, .6);
}

.center-parent {
    display:
    	table;
    height:
    	100%;
    width:
    	100%;
}

.center-child {
    display:
    	table-cell;
    vertical-align:
    	middle;
    text-align:
    	center;
}

.shaded{
	background:
		#FAFAFA;
}

.highlight {
  color: 
  	#96c850 
  	!important; 
}

#logo {
	background-image: 
		url('../img/logo.png');
	background-size: 
		80%;
    background-repeat: 
    	no-repeat;
    background-position: 
    	center; 
    color:
    	#3333333;
}