

/* Overwrite CSS defaults */

h1, h2, h3 {
    display: 
    	inline-block;
}
h1 {
	font-size:
		600%;
}
a {
	cursor:
		pointer;
}


/* Overwrite Bootstrap defaults */

.row {
	margin:
		0
		!important;
}
.col-md-12, .col-md-4, .col-md-8, .container {
   padding: 
	0 
	!important;
 }
 
 
 /* Define Square and Rectangle behavior */
 
@media only screen and (max-width : 992px) {
	.square, .long-rectangle, .rectangle {
		padding-bottom:
			100%
			!important;
	}
}
.square, .long-rectangle, .rectangle {
	position:
		relative;
}
.square {
	padding-bottom:
		100%;
}
.long-rectangle {
	padding-bottom:
		32%;
	background:
		url(../img/striped-background.png);
}
.rectangle {
	padding-bottom:
		47.5%;
}
.inner-content {
	position:
		absolute;
	top:
		0;
	left:
		0;
	right:
		0;
	bottom:
		0;
	height:
		100%;
	padding:
		15px;
}


/* General page styling */

body {
	min-height: 
		100%;
	background: 
	    #EEEEEE;
	position:
		relative;
	overflow-x:
		hidden;
	
}
.container {
	background:
		white;
	box-shadow:
		0px 0px 10px #CCCCCC;
	margin-top:
		30px;
}


/* Navbar styling */

.navbar-brand img {
	height:
		80%;
}


/* Content styling */

#logo img{
	width: 90%;
	height: auto;
}
.shaded{
	background:
		#FAFAFA;
}
.highlight {
  color: 
  	#96c850 
  	!important; 
}
#contact .panel-body{
	overflow:
		auto;
}


/* Bootstrap carousel styling */

.carousel, .carousel-inner, .item {
	height: 
		100%;
}
.item img {
	margin:
		0 auto;
	max-height:
		100%;
	width:
		auto;
}
.img-caption{
	display:
		inline-block;
	padding:
		15px;
	background-color:
		rgba(0, 0, 0, .3);
}
.carousel-caption{
	left:
		15px
		!important;
	bottom:
		15px
		!important;
	text-align:
		left 
		!important;
	padding:
		0
		!important;
}


/* Centering content classes */

.center-parent {
    display:
    	table;
    height:
    	100%;
    width:
    	100%;
}

.center-child {
    display:
    	table-cell;
    vertical-align:
    	middle;
    text-align:
    	center;
}


/* Hiding content classes */

.hidden-parent{
	position: 
		fixed;
	top:
		50px;
	left:
		0;
	z-index:
		1;
}
.hidden-child{
	position:
		relative;
	top:
		0;
    left: 
		0;
    transition:
    	left 
    	.25s;
	
}
.hidden-parent.toggle-hidden > .hidden-child{
	left:
		-100%;
}