<div layout="column" ng-cloak>
  <section layout="row" flex>
    <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbars>
        <img src="assets/img/logo.png" alt="Logo">
        <h1>Sidenav Left</h1>
      </md-toolbar>
      <md-content layout-padding ng-controller="LeftCtrl">
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
          Close Sidenav Left
        </md-button>
        <p hide-md show-gt-md>
          This sidenav is locked open on your device. To go back to the default behavior,
          narrow your display.
        </p>
      </md-content>
    
    </md-sidenav>
    
    <md-content flex layout-padding>
      <div layout="column" layout-fill>
        <p>
        The left sidenav will 'lock open' on a medium (>=960px wide) device.
        </p>
        <div>
          <md-button ng-click="toggleLeft()"
            hide-gt-md>
            Toggle left
          </md-button>
        </div>
      </div>
      <div flex></div>
    </md-content>
    
  </section>
</div>