<md-content>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span>
                Clean Code Solutions
            </span>
            
            <span flex></span>
            
            <md-button 
            class="md-raised" 
            aria-label="Toggle Right"
            ng-click="toggleRight()"
            ng-hide="isOpenRight()">
                Toggle right
            </md-button>
        </div>
    </md-toolbar>
</md-content>

<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">Sidenav Right</h1>
  </md-toolbar>
  <md-content ng-controller="RightCtrl" layout-padding>
    <form>
      <md-input-container>
        <label for="testInput">Test input</label>
        <input type="text" id="testInput"
               ng-model="data" md-autofocus>
      </md-input-container>
    </form>
    <md-button ng-click="close()" class="md-primary">
      Close Sidenav Right
    </md-button>
  </md-content>
</md-sidenav>

<md-content layout="row" layout-align="center center" layout-margin>
    <md-card>
        <md-card-title layout="row" layout-align="center center" layout-margin>
            <div class="md-media-xl">
                <img src="assets/img/logo.png" alt="Logo">
            </div>
            <md-card-title-text>
                <span class="md-headline">
                    Clean Code
                </span>
                <span class="md-subhead">
                    James MacKay
                </span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</md-content>