@import '../../application/bower_components/angular-material/angular-material.scss';

html {
    min-height:100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0) 100%), url('../img/background.png') repeat;
    background-attachment: fixed;
}

img {
       
}

.center{
    text-align: center;
}

.highlight {
    color: rgba(150, 200, 80, 1) !important;
}

.transparent {
    background-color: transparent !important;
    color: rgba(255, 255, 255, 1) !important;
    border: none;
    box-shadow: none;
}

md-content {
    background-color: transparent !important;
}