@import '../../../application/bower_components/angular-material/angular-material.scss';

body { 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.9) 100%), url('../img/background.png') repeat;
}


md-toolbar{
    background-color: transparent !important;
}

img {
    height: 90% !important;
    -webkit-filter: drop-shadow(0 2pt 5pt rgba(0, 0, 0, 0.7)) !important;
}

md-content {
    background-color: transparent !important;
}