@import '../../../application/bower_components/angular-material/angular-material.scss';

html {
    min-height:100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.9) 100%), url('../img/background.png') repeat;
    background-attachment: fixed;
}

body {
    text-align: justify;
}

.transparent {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.fixedBottom {
    position: fixed;
    bottom: 0;
}

md-content {
    background-color: transparent !important;
}