<md-content flex-gt-md=80 flex=100>
    <md-content layout layout-align="center center">
        <md-card class="transparent" layout-align="center center">
            <md-card-title layout="column" layout-gt-md="row" layout-margin layout-padding layout-align="center center">
                <md-card-title-media layout layout-align="center center">
                    <img src="assets/img/logo.png" alt="Logo">
                </md-card-title-media>
                <md-card-title-text layout-align="center center"> 
                    <span class="md-display-2 center" >
                        <h1>Clean Code</h1>
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <span class="md-display-1 center">
                    <h2>Every website is missing somethin<span class="highlight">.</span></h2>
                </span>
            </md-card-content>
        </md-card>
    </md-content>
    
    <div ui-view="tabset"></div>
</md-content>