<md-content layout="column" flex-offset-gt-md=10 flex-gt-md=80 flex-offset=0 flex=100>
    <md-content layout layout-align="center center">
        <md-card class="transparent" layout-align="center center">
            <md-card-title layout-gt-md="row" layout="column" layout-margin layout-padding>
                <md-card-title-media>
                    <img src="assets/img/logo.png" alt="Logo">    
                </md-card-title-media>
                <md-card-title-text>
                    <span class="md-headline">
                        <h1>Clean Code</h1>
                    </span>
                    <span class="md-subhead">
                        <h2>James MacKay</h2>
                    </span>
                </md-card-title-text>
            </md-card-title>
            
            <md-card-content layout="row" layout-margin layout-padding>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean faucibus neque quis convallis imperdiet. Morbi consequat vulputate urna, eget hendrerit lacus sagittis ut. Aliquam convallis ligula nibh, ac pellentesque diam sagittis ac. Sed ex mi, volutpat ut efficitur sit amet, posuere nec tellus. Integer tincidunt vulputate mauris, nec efficitur sem rutrum id. Maecenas euismod scelerisque risus, sit amet maximus urna vestibulum viverra. Vestibulum rhoncus lacus vitae tincidunt interdum. Duis fermentum placerat lacinia. Vestibulum eu elementum nisl. Nam et lectus tincidunt ipsum finibus volutpat.
                </p>
            </md-card-content>
            
        </md-card>
    </md-content>
    
    <md-content layout-gt-md="row" layout="column" layout-align="center center">
        <md-card class="transparent" layout-align="center center" flex=100 flex-gt-md=50>
            <md-card-title layout-gt-md="row" layout="column" layout-margin layout-padding>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <img src="assets/img/help.jpg" alt="help">
                    </div>
                </md-card-title-media>
                <md-card-title-text>
                    <span class="md-headline">
                        <h2>Help</h2>
                    </span>
                    <span class="md-subhead">
                        <h3>wanted</h3>
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row" layout-margin layout-padding>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean faucibus neque quis convallis imperdiet. Morbi consequat vulputate urna, eget hendrerit lacus sagittis ut. Aliquam convallis ligula nibh, ac pellentesque diam sagittis ac. Sed ex mi, volutpat ut efficitur sit amet, posuere nec tellus. Integer tincidunt vulputate mauris, nec efficitur sem rutrum id. Maecenas euismod scelerisque risus, sit amet maximus urna vestibulum viverra. Vestibulum rhoncus lacus vitae tincidunt interdum. Duis fermentum placerat lacinia. Vestibulum eu elementum nisl. Nam et lectus tincidunt ipsum finibus volutpat.
                </p>
            </md-card-content>
        </md-card>
    
        <md-card class="transparent" layout-align="center center" flex=100 flex-gt-md=50>
            <md-card-title layout-gt-md="row" layout="column" layout-margin layout-padding>
                <span flex></span>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <img src="assets/img/rebuild.jpg" alt="rebuild">
                    </div>
                </md-card-title-media>
                <md-card-title-text>
                    <span class="md-headline">
                        <h2>Rebuild</h2>
                    </span>
                    <span class="md-subhead">
                        <h3>missing pieces</h3>
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row" layout-margin layout-padding>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean faucibus neque quis convallis imperdiet. Morbi consequat vulputate urna, eget hendrerit lacus sagittis ut. Aliquam convallis ligula nibh, ac pellentesque diam sagittis ac. Sed ex mi, volutpat ut efficitur sit amet, posuere nec tellus. Integer tincidunt vulputate mauris, nec efficitur sem rutrum id. Maecenas euismod scelerisque risus, sit amet maximus urna vestibulum viverra. Vestibulum rhoncus lacus vitae tincidunt interdum. Duis fermentum placerat lacinia. Vestibulum eu elementum nisl. Nam et lectus tincidunt ipsum finibus volutpat.
                </p>
            </md-card-content>
        </md-card>
    </md-content>
</md-content>