<md-content flex-gt-md=80 flex=100>
    <md-content layout layout-align="center center">
        <md-card class="transparent" layout-align="center center">
            <md-card-title layout-gt-md="row" layout="column" layout-margin layout-padding>
                <md-card-title-media layout layout-align="center center">
                    <img src="assets/img/logo.png" alt="Logo" flex=90>
                </md-card-title-media>
                <md-card-title-text> 
                    <span class="md-display-2">
                        <h1>Clean Code</h1>
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <span class="md-display-1">
                    <h2>Every website is missing somethin.</h2>
                </span>
            </md-card-content>
        </md-card>
    </md-content>
</md-content>